/*  your css code here. If applicable */
.container{
	padding:30px;
	
	background-color:rgb(238, 239, 240);
}
.para1{
	padding:10px 10px  10px ;
	font-size:0.7rem;

	border:1px solid  rgb(221, 226, 228);
	background-color:white;
	font-style:normal;
	/*text-align:right;*/

	
}
.author{
	text-align:right;
	font-style:italic;
	display:block;
	
	
}
