/*  your css code here. If applicable */
.container{
	padding:10px;
	background-color:rgb(238, 239, 240);
}
.para1{
	padding:2px;
	border:1px solid  rgb(221, 226, 228);
	background-color:white;
	font-style:normal;
	text-align:right;
	
	
	
	
}
