.container {
    padding: 30px;
    background-color: #f5f5f5;
}

.testimonial {
    padding: 10px;
    border: 1px solid rgb(221, 226, 228);
    background-color: white;
    margin-bottom: 15px;
}

.testimonial p {
    margin: 0; /* remove default margin from p */
}

.author {
    display: block;
    text-align: right;
    font-style: italic;
    margin-top: 5px;
}
